header {
  height: 100vh;
  width: 0;
  z-index: 2;
  position: fixed;
  left: 0;
  display: flex;
  align-content: center;
  flex-direction: column;
  background-color: inherit;
}
.log-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 10%;
}

nav {
  padding: 0.5em;
  height: 100vh;
  background: #0e0e14c5;
}

ul {
  display: flex;
  gap: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  width: 100%;
}
ul li {
  padding: 0.5em;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

@media (max-width: 578px) {
  header {
    height: 100vh;
    left: 0;
    position: fixed;
    width: 0;
  }
  .log-container {
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 10%;
  }
  nav {
    padding: 0.5em;
    height: 100%;
    width: 0vw;
    background: #0f0f16c5;
  }
}
