
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;

}

body {
  color: #b2b2b2;
  background:#191924;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
li{
  list-style: none;
}

main{
  height:100%;
  width: 100%;
}
