
#progress .indicator {
  stroke: #9900ff;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: #9900ff;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}
.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background:#9900ff;
  bottom: 100px;
}

.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9900ff;
  z-index: 2;
}
